a{
	text-decoration: none;
}

nav {

	height: 60px;
	background-color: #344051;

}

header{
	position: fixed;
	width: 100%;
	opasiti:1;
	z-index: 3;
}

h2{
	font-size: 32px;
	font-weight: bold;
	color: #263244;
	text-transform: uppercase;
	text-align: center;
	line-height: 100px;
}

.logo{
	display: inline-block;
	color:#fff;
	font-size: 23px;
	line-height: 60px;
	float:left;
	animation: logo ease 1.5s;
}

@keyframes logo{
	from{
		opacity: 0;
		margin-top: -140px;
	}

	to{
		opacity: 1;
		margin-left: 0;
	}
}

.menu{
	float:left;
	
}

.menu li{
	float: left;
	line-height: 60px;
	font-size: 14px;
	color: #fff;
	margin-right: 40px;
	text-transform: uppercase;
	opacity:0;
	animation: menu 2s ease forwards;
	animation-delay: 1s;
}

.menu li a{
	color: #fff;
	display: inline-block;
	transform: scale(1);
	text-decoration: none;

}


.menu li a:hover{
	color:#fe9914;
	font-weight: bold;
}

.menu li a:active{
	transform: scale(1.2);
}

@keyframes menu{
	from{
		opacity: 0;
		margin-top:-80px;
		transform: rotate(-180deg);
	}

	to{
		margin-top:0;
		opacity: 1;
		transform: rotate(0deg);
	}
}

.menu li:nth-child(1){
	animation-delay: 1s;
}

.menu li:nth-child(2){
	animation-delay: 1.4s;
}
.menu li:nth-child(3){
	animation-delay: 1.8s;
}
.menu li:nth-child(4){
	animation-delay: 2.2s;
}
.menu li:nth-child(5){
	animation-delay: 2.6s;
}
.menu li:nth-child(6){
	animation-delay: 3s;
}


.botton_nav{
	opacity:0;
	margin-top:-150px;
}

@media(max-width: 991px) {
	.botton_nav{
	opacity: 1;
	margin: 0;
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	}
}
.white_btn{
	color: #fff;
    border-color: #fff;
    border-top-color: rgb(255,255,255);
    border-right-color: rgb(255,255,255);
    border-bottom-color: rgb(255,255,255);
    border-left-color: rgb(255,255,255);
}

.white_btn:visited{
	color: #fff;
}

.white_btn:hover{
	color: #fff;
}

.white_btn:focus{
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.4)
}

.main{
	width: 100vw;
	height: 100vh;
	background: url("../img/main/boy.png") no-repeat 90% 100%/auto 85%, url("../img/main/bg.jpg") center/cover no-repeat;
	box-shadow: inset 0 -12px 10px rgba(142,142,149,.3);
}

.main_2{
	height: 100%;
	widows: 100%;
}

.title_container{
	float: left;
	color: #2c384a;
	text-align: center;
	width: 100%;
	opacity: 0;
	animation: main 2s ease forwards;
	animation-delay: 1.5s;
}

.title_container h1{
	font-family: Areal, sans-serif;
	font-size: 65px;
	font-weight: bold;
}

.title_container h4{
	margin-top: 20px;
	font-size: 20px;
	color: #79818d;
}

.title_container button{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	border-radius: 5px;
	color: #6d7682;
	background:none;
	font-size: 13px;
	padding: 0 15px;
	margin: 35px 14px 0;
	transform: scale(1);
	transition-duration: 0.5s;
	transition-property: transform;
}

.title_container button:hover{
	background-color: #6d7682;
	color: white;
	font-weight: bold;
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(0,0,0,.5)
}

.title_container button:active{
	background-color: #5c6673;
}

@media(max-width: 991px){
	.title_container, .title_container button, .title_container h4{
		color: #fff;
		position: relative;
		z-index: 2;
	}

	.main{
		position: relative;
	}

	.main::after{
		content: "";
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		background: rgba(0,0,0,0.4)
	}
}

@keyframes main{
	from{
		margin-left: -40px;
	}

	to{
		opacity: 1;
		margin-left:0; 
	}
}

.border {
	width: 70px;
	height: 4px;
	background-color: #d17700;
	margin: 0 auto 45px;
	border-radius: 2px;
}


/****** about_me ******/


.about_me{
	height: 720px;
}

.about_me_2{
	height: 100%;
}

.about_me h2{
	text-align: center;
	margin-top: 60px;
}


p.photo_andrea{
	text-align: center;
}
.about_me_p_div{
	display: flex;
	flex-direction: column; 
	width: 700px;
	margin: 20px 0 30px;
}
.about_me_p{
	color: rgba(63,73,90,.7);
}

.download_rezume{
		display:  flex;
		flex-direction: row;
		justify-content: center;
	}

@media(max-width: 992px){
	
	.about_me_p_div{
		width: 500px;
		margin-left:-30px;
	}

	.about_me_p{
		text-align: center;
	}

	.download_rezume{
		display:  flex;
		flex-direction: row;
		justify-content: center;
	}

	
}

@media(max-width: 720px){
	.about_me_p_div{
		width: 400px;
		margin-left:-30px;
	}

	.about_me{
	height: 760px;
	}

	.about_me_2{
		height: 100%;
	}
}

@media(max-width: 540px){
	.about_me_p_div{
		width: 300px;
		margin-left:-30px;
	}

	.about_me{
	height: 820px;
	}

	.about_me_2{
		height: 100%;
	}
}

.about_me input{
	display: flex;
	justify-content: center;
	text-decoration: none;
	height: 30px;
	text-align: center;
	border: 2px solid #6d7682;
	border-radius: 5px;
	padding: 0 15px 0 25px;
	background:url("../img/about_me/download.png") 3% no-repeat;
	font-size: 13px;
	margin: 35px 0 70px;
	color: #6d7682;
	transform: scale(1);
}


.about_me input:hover{
	background-color: #6d7682;
	color: white;
	font-weight: bold;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	transform: scale(1.1);
}

.about_me input:active{
	transform: scale(1);
}


/******** my_skills ********/


.my_skills{
	width: 100vw;
	background: url("../img/my_skills/bg.jpg") 50% no-repeat; 
	padding-bottom: 40px;
}

.alignment{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}



.my_skills h2{
	padding-top: 60px;  
}

.my_skills_border{
	margin-bottom: 80px;
}

.my_skills_alignment{
	width: 215px;
	text-align: center;

}

.my_skills_alignment img{
	margin-bottom: 30px;
}

.my_skills_alignment h4{
	color: #cf7600;
	font-family: Bahnschrift, sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 12px;
}

.my_skills_alignment p{
	line-height: 15px;
	font-family: Calibri, serif;
	font-size: 14px;
	font-weight: 500;
	color: rgba(63, 73,90,.9);
}

@media(max-width: 992px){
	.alignment:nth-child(3n){
		display: flex;
		flex-flow: row wrap;
		page-break-after: always;
	}

	.my_skills_border{
	margin-bottom: 25px;
	}

	.my_skills h2{
	padding-top: 40px; 
	}
}

@media(max-width: 450px){
	.my_skills{
	width: 100%;
	background: url("../img/my_skills/bg.jpg") 50% no-repeat;
	background-size: cover;
	padding-bottom: 40px; 
		}

	.alignment{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	}

}
